body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    color: #fff;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}
.container {
    height: 100%;
    position: relative;
}
#sidebar {
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 260px;
    min-height: 700px;
    position: fixed;
    background: #333333;
    opacity: 0.9;
    left: 0;
    /*left: -370px;*/
    transition: all 0.5s;
    z-index: 2;
}
#sidebar.active {
    left: 0px;
}
.sidebar-toggle-btn {
    position: absolute;
    left: 290px;
    top: 90px;
}
.icon_menu {
    width:30px;
    cursor:pointer;
}
.sidebar-input {
    width: 220px;
    height: 30px;
    border-radius: 6px;
    border: 0;
    padding-left: 10px;
    outline: none;
    margin-left: 14px;
}
.sidebar-ul {
    list-style: none;
    color: #fff;
    padding: 20px 25px 20px 20px;
}
.sidebar-ul a {
    text-decoration:none;
    color:#fff;
}
.sidebar-ul a:hover {
    text-decoration: none;
    color: #3296FA;
}
.result {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
#map {
    height: 100%;
}
.map {
    bottom: 0px;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0px;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    #sidebar.active {
        left: -280px;
    }
}